body {
    font-family: "Roboto Mono", "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    border: 0;
    margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
}

hr {
    height: 2px;
    border: none;
}

a {
    text-decoration: underline;
}

nav {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    font-style: normal;
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
}


body {
    background-color: rgb(5, 5, 5);
    color: rgb(193, 193, 193);
}

button {
    all: unset;
    background-color: white;
    color: black;
    padding: 5px;
}

main {
    flex-grow: 1;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #eee;
}

a {
    color: rgb(255, 255, 255);
}

code {
    background-color: #272822;
}

pre code {
    color: #ddd;
}

blockquote {
    color: rgb(108, 108, 108);
}

textarea,
input {
    background-color: #252525;
    color: #ddd;
}

hr {
    background-color: rgb(44, 44, 44);
}

a {
    text-decoration-color: rgb(108, 108, 108);
}

a:hover {
    text-decoration-color: rgb(14, 255, 14);
}