:root {
    --color-foreground: rgb(238, 238, 238);
    --color-background: rgb(0, 0, 0);
    --color-text: rgb(193, 193, 193);
    --color-dark-text: rgb(108, 108, 108);
    --color-link: rgb(14, 255, 14);
}

body {
    font-family: "Roboto Mono", "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
}

.title {
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    border: 0;
    margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
}

a {
    text-decoration: underline;
    color: var(--color-foreground);
    text-decoration-color: var(--color-dark-text);
}

a:hover {
    text-decoration-color: var(--color-link);
}

table,
td,
th {
    border: 2px solid var(--color-dark-text);
    border-collapse: collapse;
}

table {
    width: 100%;
}

td,
th {
    padding: 5px;
}

nav {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    font-style: normal;
    margin-right: 10px;
}

button {
    all: unset;
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 5px;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 30px;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: var(--color-foreground);
}

pre {
    color: var(--color-text);
}

blockquote {
    color: var(--color-dark-text);
}

footer {
    color: var(--color-dark-text);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
    color: var(--color-dark-text);
}